<!DOCTYPE html>
<html>
<head>
  <title>Chris and Shonagh's Wedding</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
<div id="nav" class="nav">
    <%= link_to "Invitation and RSVP", current_user %> |
    <%= link_to "Further Information", :info %> | 
    <% if current_user_is_admin? %>
      <%= link_to "Administration", users_path %> |
    <% end %>
    <%= link_to "Logout", :logout %>
</div>
<% end %>


<%= yield %>

</body>
</html>
